@keyframes look-left-right {
    0%, 100% {
        transform: translateY(100%);
    }
    15%, 85% {
        transform: translateY(-10%);
    }
    20%, 80% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: scaleX(1);
    }
    40%, 60% {
        transform: scaleX(-1);
    }
}

@keyframes look-right-left {
    0%, 100% {
        transform: translateY(100%) scaleX(-1);
    }
    15%, 85% {
        transform: translateY(-10%) scaleX(-1);
    }
    20%, 80% {
        transform: translateY(0) scaleX(-1);
    }
    25%, 75% {
        transform: scaleX(-1);
    }
    40%, 60% {
        transform: scaleX(1);
    }
}

@keyframes walk-left {
    0% {
        transform: translate(0, 100%);
    }
    15% {
        transform: translate(0, -10%);
    }
    20% {
        transform: translate(0, 0);
    }
    26% {
        transform: translate(0, 0) rotateZ(3deg);
    }
    34% {
        transform: translate(-2rem, 0) rotateZ(-3deg);
    }
    42% {
        transform: translate(-4rem, 0) rotateZ(3deg);
    }
    50% {
        transform: translate(-6rem, 0) rotateZ(-3deg);
    }
    58% {
        transform: translate(-8rem, 0) rotateZ(3deg);
    }
    66% {
        transform: translate(-10rem, 0) rotateZ(-3deg);
    }
    74% {
        transform: translate(-12rem, 0) rotateZ(3deg);
    }
    80% {
        transform: translate(-12rem, 0);
    }
    85% {
        transform: translate(-12rem, -10%);
    }
    100% {
        transform: translate(-12rem, 100%);
    }
}

@keyframes walk-right {
    0% {
        transform: translate(0, 100%) scaleX(-1);
    }
    15% {
        transform: translate(0, -10%) scaleX(-1);
    }
    20% {
        transform: translate(0, 0) scaleX(-1);
    }
    26% {
        transform: translate(0, 0) rotateZ(-3deg) scaleX(-1);
    }
    34% {
        transform: translate(2rem, 0) rotateZ(3deg) scaleX(-1);
    }
    42% {
        transform: translate(4rem, 0) rotateZ(-3deg) scaleX(-1);
    }
    50% {
        transform: translate(6rem, 0) rotateZ(3deg) scaleX(-1);
    }
    58% {
        transform: translate(8rem, 0) rotateZ(-3deg) scaleX(-1);
    }
    66% {
        transform: translate(10rem, 0) rotateZ(3deg) scaleX(-1);
    }
    74% {
        transform: translate(12rem, 0) rotateZ(-3deg) scaleX(-1);
    }
    80% {
        transform: translate(12rem, 0) scaleX(-1);
    }
    85% {
        transform: translate(12rem, -10%) scaleX(-1);
    }
    100% {
        transform: translate(12rem, 100%) scaleX(-1);
    }
}

@keyframes wiggle-left {
    0%, 100% {
        transform: translateY(100%);
    }
    15%, 85% {
        transform: translateY(-10%);
    }
    20%, 80% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: rotateZ(7.5deg);
    }
    37.5%, 62.5% {
        transform: rotateZ(-7.5deg);
    }
    50% {
        transform: rotateZ(7.5deg);
    }
}

@keyframes wiggle-right {
    0%, 100% {
        transform: translateY(100%) scaleX(-1);
    }
    15%, 85% {
        transform: translateY(-10%) scaleX(-1);
    }
    20%, 80% {
        transform: translateY(0) scaleX(-1);
    }
    25%, 75% {
        transform: rotateZ(-7.5deg) scaleX(-1);
    }
    37.5%, 62.5% {
        transform: rotateZ(7.5deg) scaleX(-1);
    }
    50% {
        transform: rotateZ(-7.5deg) scaleX(-1);
    }
}
