@font-face {
    font-family: 'Roboto Mono';
    src: url('@/assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('@/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
